<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#Login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Register">Register</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane container active" id="Login">
    <form method="post" action="/api/login">
      <div class="form-group">
        <label for="userEmail">Enter your email:</label>
        <input
          type="email"
          id="userEmail"
          name="email"
          class="form-control"
          placeholder="Your Email"
          required
        />
      </div>
      <div class="form-group">
        <label for="userPassword">Enter your password:</label>
        <input
          type="password"
          id="userPassword"
          name="password"
          class="form-control"
          placeholder="Your Password"
          required
        />
      </div>

      <input type="submit" class="btn btn-primary" value="Login" />
    </form>
  </div>
  <div class="tab-pane container fade" id="Register">
    <form method="post" action="/api/register">
      <div class="form-group">
        <label for="userName">Enter your name:</label>
        <input
          type="text"
          id="userName"
          placeholder="Your Name"
          name="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="userEmail">Enter your email:</label>
        <input
          type="email"
          placeholder="Your Email"
          id="userEmail"
          name="email"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="userPassword">Enter your password:</label>
        <input
          type="password"
          id="userPassword"
          name="password"
          placeholder="Your Password"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="userCountry">Enter your country:</label>
        <select class="form-control" name="country" id="userCountry" required>
          <% for(let country of countries){ %>
          <option value="<%= country.country_id %>">
            <%=country.country_name%> (<%= country.country_abbr%>)
          </option>
          <%}%>
        </select>
      </div>
      <div class="form-group">
        <label for="userDob">Enter your date of birth:</label>
        <input
          type="date"
          id="userDob"
          name="dob"
          class="form-control"
          required
        />
      </div>
      <div class="form-group row">
        <label for="isArtist">Are you an artist?</label>
        <input
          type="checkbox"
          id="isArtist"
          name="isArtist"
          class="form-check"
        />
      </div>
      <div style="display: none" class="form-group">
        <label for="artistStageName">Enter your stage name:</label>
        <input
          disabled
          type="text"
          id="artistStageName"
          name="stageName"
          class="form-control"
          placeholder="Your Stage Name"
        />
      </div>

      <input class="btn btn-primary" type="submit" value="Sign Up" />
    </form>
  </div>
</div>

<script>
  const checkbox = document.querySelector('#isArtist');
  const stageName = document.querySelector('#artistStageName');
  checkbox.addEventListener('click', (e) => {
    stageName.parentElement.style.display = e.target.checked ? 'block' : 'none';
    stageName.disabled = !e.target.checked;
  });
</script>
