<%- include('start'); %>

<form method="post" action="/api/saveCountry">
  <div class="form-group">
    <label for="countryId">Id:</label>
    <input
      type="number"
      id="countryId"
      name="id"
      readonly
      class="form-control"
      value="4"
    />
  </div>
  <div class="form-group">
    <label for="countryName">Enter country name:</label>
    <input type="text" id="countryName" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="countryAbbr">Enter country abbreviation:</label>
    <input type="text" id="countryAbbr" name="abbr" class="form-control" />
  </div>

  <input type="submit" />
</form>

<%- include('end'); %>
