<%- include('start'); %>

<form action="/api/saveSong" method="post">
  <div class="form-group">
    <label for="songId">Song ID:</label>
    <input
      class="form-control"
      id="songId"
      value="0"
      name="id"
      type="number"
      readonly
    />
  </div>
  <div class="form-group">
    <label for="songLength">Song Length:</label>
    <input class="form-control" id="songLength" name="name" type="number" />
  </div>
  <div class="form-group">
    <label for="songDate">Song Date:</label>
    <input class="form-control" id="songDate" name="releaseDate" type="date" />
  </div>
  <div class="form-group">
    <label for="songAlbum">Song Album:</label>
    <input class="form-control" id="songAlbum" name="album" type="text" />
  </div>
  <div style="display: none" class="form-group">
    <label for="songArtist">Song Artist:</label>
    <input
      class="form-control"
      id="songArtist"
      value="<%= id  %>"
      readonly
      name="artist"
      type="text"
    />
  </div>
  <input type="submit" />
</form>

<%- include('end'); %>
